@import "_base";

h1, h2, h3, h4, h5, h6 { font-family: Raleway, sans-serif; font-weight:400; }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child { margin-top: 0; }

body { margin:0; padding:0; line-height:1.2em; }

#app-container {
  display: flex;
  min-height: 100vh;
  nav {
    flex-basis: 15em;
    padding: 1em;
    background: #222;
    color:#DDD;
    ul {
      list-style-type: none;
      margin:0; padding:0;
      & > li {
        cursor: pointer;
        padding: 0.5em 1em;
        &.active { background:rgba(255,255,255,0.1); }
      }
    }
  }
  section {
    flex-grow: 1;
    padding: 1em;
    background:#FEC;
  }
}
